<%= form_for @daily_mood_vm, url: create_daily_moods_path do |f| %>

  <div class="row-fluid well">
  <div class="span6">

      <div class="control-group">
      </div>
    <div class="control-group">
      <%= f.label :date, class: 'control-label'  %>
      <%= f.date_field :date %>
    </div>

    <%=f.submit(:class=>'btn btn-primary')%>

  </div>
  <div class="span6">
  </div>
<div/>

<% end %>
